@model IEnumerable<Ingredient>

    @{
        ViewBag.Title = "List of Restaurant Ingredients";
    }

<h1>Ingredients</h1>
<a asp-action="Create">Create New Ingredient</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ingredient i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.IngredientId">Details</a>
                    <a asp-action="Edit" asp-route-id="@i.IngredientId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.IngredientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>