@model OrderViewModel

@{
        ViewBag.Title = "Create Order";
}

<h1>Create Order</h1>

<div class="row">
    @foreach (Product product in @Model.Products)
    {
        <div class="col-md-4">
            <form asp-action="AddItem" method="post">
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content("~/images/" + product?.ImageUrl)" class="card-img-top fixed-image-height" alt="@product.Description">
                    <div class="card-body">
                        @product.Name - @product.Price.ToString("C")
                        <input type="hidden" value="@product.ProductId" name="prodId" />
                        <input type="number" name="prodQty" class="form-control" />
                        <button class="btn btn-info" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>