@model IEnumerable<TequliasRestaurant.Models.Order>
@{
        ViewData["Title"] = "My Orders";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Order Items</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems)
                        {
                            <li>@item.Product.Name - @item.Quantity x @item.Price.ToString("C")</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>